[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
flake8 = "*"
jedi = "*"
pre-commit = "*"

[packages]
requests = "*"
flask = "*"
numpy = "*"
pandas = "*"
flask-cors = "*"
pyside2 = "*"
conduit = "*"
astroid = "*"
config = "*"
flask-cloudy = "*"
flask-mysql = "*"
pillow = "*"

[requires]
python_version = "3.7"
