[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
yapf = "*"
flake8 = "*"

[packages]
requests = "*"
flask = "*"
pre-commit = "*"
numpy = "*"
pandas = "*"
flask-cors = "*"
pyside2 = "*"
conduit = "*"

[requires]
python_version = "3.7"
